@model TrashCollector.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<td align="right" style="color:#FFFFFF;padding-right:10;">


    <h3>   @Html.ActionLink("Click to Set a New Pickup Date", "Index", "Customers") </h3>

</td>
<td align="right" style="color:#FFFFFF;padding-right:10;">


    <h3>   @Html.ActionLink("CLick to Set a Special Pickup Date", "Index", "Customers") </h3>

</td>
<td align="right" style="color:#FFFFFF;padding-right:10;">


    <h3>   @Html.ActionLink("Click to View Monthly Balance Due", "Index", "Customers") </h3>

</td>
<td align="right" style="color:#FFFFFF;padding-right:10;">


    <h3>   @Html.ActionLink("Click to Select Input a Suspension of Pickups", "Index", "Customers") </h3>

</td>